.person-card {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-radius:5px;
    padding:1rem;
    margin:1rem 0;
    background-color:Silver;
    cursor:pointer;
}